
<ion-view view-title="">
      <ion-nav-title>
        <img class="head-logo" src="../img/jointlogo2.png">
    </ion-nav-title>
  <ion-content>
 <div id="my-iframe" style="-webkit-overflow-scrolling: touch; 
 overflow: auto;">
 <!-- place these styles in-line in a div wrapper around the iframe; 
 they are not stable in CSS -->
 
 <iframe src="http://www.giftofwarmth.com/">
     <p style="font-size: 110%;"><em><strong>IFRAME: </strong>
 There is iframe content being displayed
  here but your browser version does not support iframes. </em> 
 Please update your browser to its most recent version
  and try again.</p>
 </iframe>  
 </div>
  </ion-content>
</ion-view>
